<!DOCTYPE html>
<html lang="en" id="html">
<head>
    <base href="__PUBLIC__/">
    <meta charset="utf-8">
    <title>Home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">
     <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600|PT+Serif:400,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/style1.css" id="theme-styles">  
    <style type="text/css">
        #div
        {
            text-align: center;
            background-color: black;
            /*background-image: url(/Public/images/);*/
        }
    </style>
</head>
<body class="body">
    <div id="header">
        <header>
        <div class="widewrapper masthead">
            <div class="container">
                <div id="mobile-nav-toggle" class="pull-right">
                    <a href="#" data-toggle="collapse" data-target=".clean-nav .navbar-collapse">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>

                <nav class="pull-right clean-nav">
                    <div class="collapse navbar-collapse">
                        <ul class="nav nav-pills navbar-nav">                        
                        </ul>
                    </div>
                </nav>        

            </div>
        </div>

    </header>
    </div>
        
<div class="widewrapper main" id="div">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 clean-superblock" id="contact">
                <h2><font color="#ccc">User Register</font></h2>
                
                <form action="dsad" method="post" accept-charset="utf-8" class="contact-form">
                    <input type="text" name="name" id="contact-name" placeholder="Name" class="form-control input-lg">
                    <input type="email" name="email" id="contact-email" placeholder="Password" class="form-control input-lg">
                    <div class="buttons clearfix">
                        <input type="submit" class="btn btn-xlarge btn-clean-one" value="Register"></button>
                    </div>                    
                </form>
            </div>
        </div>        
    </div>
</div>
<div id="xia">
    <header>
        <div class="widewrapper masthead">
            <div class="container">
                <div id="mobile-nav-toggle" class="pull-right">
                    <a href="#" data-toggle="collapse" data-target=".clean-nav .navbar-collapse">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>

                <nav class="pull-right clean-nav">
                    <div class="collapse navbar-collapse">
                        <ul class="nav nav-pills navbar-nav">                        
                        </ul>
                    </div>
                </nav>        

            </div>
        </div>

    </header>
</div>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/modernizr.js"></script>

</body>
</html>